@import 'variables';
@import 'colors';
@import 'mixins';
@import 'fonts';

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: gray;
    
    header{
        background: gray;
        flex: 1;
        width: 100%;
    }
    footer{
        background: gray;
        flex: 1;
        width:100%;
    }
}
