@import '../../node_modules/normalize.scss/normalize';
@font-face {
  font-family: Delux;
  src: url('dlxfont.ttf');
}

$light-color: #FFFFFF;
$dark-color: #6f7f82;

canvas{
    height: 80%;  
}
*{
    color: $light-color;
    font-family: Delux;
    user-select: none;
    text-decoration: none;
    h1{
        cursor: pointer;        
    }

}
.help-item{
    justify-content: flex-start;
    flex:1;
    padding: 30px;
    text-align: center;
}
.container{
    width:100%;
    height:100%;
    justify-content: space-around;
    align-items: center;
    display:flex;
    flex-direction: column;
    &-game{
        @extend .container;
        height:93%;
        background: $light-color;
    }


    &-help{
        @extend .container;
        background: $dark-color;
        justify-content: flex-start;
        
        .item{
            
            color: $light-color;
        }

    }
}
.info{
    display: flex;

}
.help-section{
    display:flex;
    flex-direction: column;
    justify-content: flex-start

}
p{
    font-size: 1.3rem;
    line-height: 3rem;
}
